{% load static %} 

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'main/assets/styles/main.css' %}">

    <title>
        {% if title%}
            {{ title }}
        {% else %}
            Title
        {% endif %}
    </title>


  </head>
  <body>

    <header>
      <a href="{% url 'blog:index' %}">Blog</a>

      {% if user and user.is_authenticated %}
        <a>{{ user.username }}</a>
        <form action="{% url 'users:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Log Out</button>
        </form>
      {% else %}
        <a href="{% url 'users:login' %}">Log in</a>
        <a href="{% url 'users:register' %}">Register</a>
      {% endif %}
      
    </header>

    <main>
      {% block content %}
          <h1>Base template</h1>
          <p>Base template</p>
      {% endblock %}
    </main>

    <footer>
      Footer
    </footer>

  </body>
</html>
