{% load static %} 

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'main/assets/styles/main-T6ZskA8c.css' %}">

    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Title
        {% endif %}
    </title>


  </head>
  <body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B63BN0Q9MW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B63BN0Q9MW');
    </script>

    {% include 'main/header.html' %}

    <main>
      {% block content %}
          <h1>Base template</h1>
          <p>Base template</p>
      {% endblock %}
    </main>

    {% include 'main/footer.html' %}

    {% block bodyend %}
    {% endblock %}
  </body>
</html>
