<header>

    <div class="flex-row">
        <a href="{% url 'blog:index' %}">Blog</a>

        {% if user and user.is_authenticated %}

            <div>
                <a>{{ user.username }}</a>
            </div>

            <div>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn-reset" type="submit"><a>Log Out</a></button>
                </form>
            </div>

        {% else %}
            <div>
                <a href="{% url 'users:login' %}">Log in</a>
            </div>
            <div>
                <a href="{% url 'users:register' %}">Register</a>
            </div>
        {% endif %}

    </div>

</header>