networks:
  dbnet:
    external: false

services:
  site:
    build:
      context: blog/backend
      dockerfile: Dockerfile
    depends_on:
      - db
    image: site:latest
    env_file:
      - .env
    networks:
      - dbnet
    volumes:
      - ./blog/staticfiles:/app/staticfiles
      - ./blog/media:/app/media
    ports:
      - "8000:8000"
    container_name: site_container
    command: sh -c "
      uv run python manage.py collectstatic --noinput && 
      uv run gunicorn main.asgi:application -b 0.0.0.0:8000 -k uvicorn_worker.UvicornWorker"