networks:
  dbnet:
    external: false

services:
  site:
    build:
      context: blog/backend
      dockerfile: Dockerfile
    image: site:latest
    env_file:
      - .env
    networks:
      - dbnet
    volumes:
      - ./staticfiles:./staticfiles
      - ./media:./media
    ports:
      - "8000:8000"
    container_name: site_container