networks:
  dbnet:
    external: false

services:
  site:
    build:
      context: .
      dockerfile: Dockerfile
    image: site:latest
    environment:
      - SECRET_KEY=value
      - DEBUG_ENABLED=0
      - POSTGRES_DB=
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - POSTGRES_HOST=
      - POSTGRES_PORT=
    networks:
      - dbnet
    volumes:
      - ./staticfiles:./staticfiles
      - ./media:./media
    ports:
      - "8000:8000"
    container_name: site_container