networks:
  appnet:
    external: false

# base component for all services
x-base: &base
  env_file: .dev-env
  restart: "on-failure:5"
  networks: 
    - appnet

x-base-backend: &base-backend
  <<: *base
  build: ./backend
  image: backend:latest

services:
  # nginx:
  #   <<: *base
  #   image: nginx:alpine
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  #     - ./static:/usr/share/nginx/html/static:ro
  #     - ./media:/usr/share/nginx/html/media:ro
  #   ports:
  #     - "80:80"
  #     - "443:443"
  db:
    <<: *base
    image: postgres:14
  rabbitmq:
    <<: *base
    image: "rabbitmq:4.2"

  django:
    <<: *base-backend
    depends_on:
      - rabbitmq
      - db
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    ports:
      - "8000:8000"
    entrypoint: /app/django-entrypoint.sh
    command: sh -c "uv run python manage.py runserver 0.0.0.0:8000"

  celery:
    <<: *base-backend
    depends_on:
      - django
    command: sh -c "uv run celery -A main worker --loglevel=info --concurrency 1 -E"
