networks:
  appnet:
    external: true
    name: shared_appnet

# base component for all services
x-base: &base
  env_file: .env
  restart: "on-failure:5"
  networks: 
    - appnet

x-base-backend: &base-backend
  <<: *base
  build: ./backend
  image: backend:latest
  volumes:
    - ./staticfiles:/app/staticfiles
    - ./media:/app/media

services:
  # nginx:
  #   <<: *base
  #   image: nginx:alpine
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  #     - ./static:/usr/share/nginx/html/static:ro
  #     - ./media:/usr/share/nginx/html/media:ro
  #   ports:
  #     - "80:80"
  #     - "443:443"
  # db:
  #   <<: *base
  #   image: postgres:14

  rabbitmq:
    <<: *base
    image: "rabbitmq:4.2"


  django:
    <<: *base-backend
    depends_on:
      - rabbitmq
      # - db
      # - nginx 
    ports:
      - "8000:8000"
    entrypoint: /app/django-entrypoint.sh
    command: sh -c "uv run gunicorn main.asgi:application -b 0.0.0.0:8000 -k uvicorn_worker.UvicornWorker"

  celery:
    <<: *base-backend
    depends_on:
      - django
    command: sh -c "uv run celery -A main worker --loglevel=info --concurrency 1 -E"
