# base component for all services
x-base: &base
  env_file: secrets/.dev.env
  restart: "on-failure:5"
  networks: 
    - appnet

# base backend for django & celery services
x-base-backend: &base-backend
  <<: *base
  build: ./backend
  image: backend:latest
  volumes:
    - backend_src:/app/backend/src:rw
    - shared_media:/app/backend/src/media:rw

services:

  frontend:
    build: frontend
    volumes:
      # gives an ability to the frontend to watch source files on host machine 
      # to perform hot reloading
      - frontend_src:/app/frontend/src:ro
    networks: 
      - appnet
    ports:
      - "5173:5173" # exposed to the host to get bundle files
    command: sh -c "npm run dev -- --host 0.0.0.0"

  django:
    <<: *base-backend
    depends_on:
      - rabbitmq
      - frontend
      - nginx
    entrypoint: /app/backend/entrypoint.dev.sh
    command: sh -c "uv run python manage.py runserver 0.0.0.0:8000"
  
  nginx:
    <<: *base
    image: nginx:alpine
    depends_on:
      - frontend
    volumes:
      - ./nginx/dev/:/etc/nginx/conf.d/:ro
      - shared_media:/usr/share/nginx/html/media:ro
    ports:
      - "80:80"
  
  celery:
    <<: *base-backend
    depends_on:
      - django
    command: sh -c "cd src && uv run celery -A main worker --loglevel=info --concurrency 1 -E"
  
  rabbitmq:
    <<: *base
    image: "rabbitmq:4.2"

networks:
  appnet:
    external: true
    name: shared_appnet

volumes:
  shared_staticfiles:
  shared_media:
  backend_src:
    driver: local
    driver_opts:
      type: none
      device: ./backend/src
      o: bind
  frontend_src:
    driver: local
    driver_opts:
      type: none
      device: ./frontend/src
      o: bind