networks:
  dbnet:
    external: false

services:
  site:
    build:
      context: blog/backend
      dockerfile: Dockerfile
    depends_on:
      - db
    image: site:latest
    env_file:
      - .env
    networks:
      - dbnet
    volumes:
      - ./staticfiles:/usr/src/site/staticfiles
      - ./media:/usr/src/site/media
    ports:
      - "8000:8000"
    container_name: site_container
    command: sh -c ".venv/bin/python manage.py collectstatic &&
            .venv/bin/python manage.py migrate &&
            .venv/bin/gunicorn main.asgi:application -b 0.0.0.0:8000 -k uvicorn_worker.UvicornWorker"