{% extends "main/base.html" %}

{% block head %}
    <meta name="robots" content="index">
{% endblock %}

{% block content %}
    {% if post %}
        
        <h1> {{ post.title }} </h1>

        <div class="flex-row justify-between">
        
            <div>
            {% if can_edit %}
                <a href="{% url 'blog:edit' pk=post.id %}">Edit post</a>
                <a href="{% url 'blog:delete' pk=post.id %}">Delete post</a>
            {% endif %}
            </div>

            <div class="flex-row" style="align-items: center;">
                <div>
                    Author: {{ post.author }}
                </div>
                {% if post.author.profile.avatar %}
                    <img src="{{post.author.profile.avatar.url}}" height="50px" width="50px" style="border-radius: 100%;">
                {% endif %}
            </div>
        </div>
        <p>
            {% if post.content.blocks %}

                {% for block in post.content.blocks %}
                    {% include "blog/partials/block.html" with el=block.data %}
                {% endfor %}

            {% endif %}
        </p>
        
    {% endif %}
{% endblock %}