{% extends "main/base.html" %}

{% block head %}
    <meta name="robots" content="index">
{% endblock %}

{% block content %}
    {% if post %}
        
        <h1> {{ post.title }} </h1>

        {# post header #}
        <div class="flex-row justify-between">
        
            <div>
            {% if can_edit %}
                <a href="{% url 'blog:edit' pk=post.id %}">Edit post</a>
                <a href="{% url 'blog:delete' pk=post.id %}">Delete post</a>
            {% endif %}
            </div>

            {# author section with avatar and username #}
            <div class="flex-row" style="align-items: center;">
                <div>
                    Author: <a href="{% url 'users:detail' post.author.pk %}">
                        {{ post.author }}
                    </a>
                </div>

                {% include "users/partials/avatar.html" with user=post.author %}
            </div>
        </div>
        <p>
            {% if post.content.blocks %}

                {% for block in post.content.blocks %}
                    {% include "blog/partials/block.html" with el=block.data %}
                {% endfor %}

            {% endif %}
        </p>
        
    {% endif %}
{% endblock %}