{% extends "main/base.html" %}

{% block head %}
    <meta name="robots" content="index">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <a href="{% url 'blog:create' %}">Create new post</a>
    {% endif %}

    {% if posts_list %}
        {% for post in posts_list %}

            {# post header #}
            <div class="flex-row justify-between">
                <a href="{% url 'blog:detail' post.id %}">
                    {{ post.title }}
                </a>
                <div class="flex-row" style="align-items: center;">
                    <div>
                        Author: <a href="{% url 'users:detail' post.author.pk %}">{{ post.author }}</a>
                    </div>
                    {% if post.author.profile.avatar %}
                        <a href="{% url 'users:detail' post.author.pk %}">
                            <img src="{{post.author.profile.avatar.url}}" height="50px" width="50px" style="border-radius: 100%;">
                        </a>
                    {% endif %}
                </div>
            </div>
                
            <div>
                {% if post.content.blocks %}
                    {% for block in post.content.blocks|slice:":3" %}
                        {% include "blog/partials/block.html" with el=block.data %}
                    {% endfor %}
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
    
{% endblock %}