{% extends "main/base.html" %}

{% load static %}

{% block content %}
<div class="post">
    <h1>Edit post</h1>
    {{ form.errors}}
    <form method="post">
        {% csrf_token %}

        {{ form }}

        <button type="submit" id="editorjs-save">Edit</button>
    </form>
</div>
{% endblock %}


{% block bodyend %}
    <script type="module" src="{% static 'blog/assets/scripts/editor-BZlDP0OA.js' %}"></script>
    <link rel="stylesheet" href="{% static 'blog/assets/styles/editor-3cXLOfR-.css' %}">
{% endblock %}