{% extends "main/base.html" %}

{% block head %}
    <meta name="robots" content="index">
{% endblock %}

{% block content %}
    {% if post %}
    <div class="post">

        {# post header #}
        
        <a href="{% url 'blog:detail' post.id %}">
           <h1>{{ post.title }}</h1>
        </a>

        {% if can_edit %}
            <div>
                <a href="{% url 'blog:edit' pk=post.id %}">Edit post</a>
                <a href="{% url 'blog:delete' pk=post.id %}">Delete post</a>
            </div>
        {% endif %}
            
        <div class="flex flex-row justify-between align-center" style="width: 100%;">
            <div>
                {% for tag in post.tags.all|slice:"5" %}
                    <a href="{% url 'blog:index' %}?tags={{tag}}">#{{tag}}</a>
                {% endfor %}
            </div>
            <div class="flex flex-row align-center">
                <div>
                    <a href="{% url 'users:detail' post.author.pk %}">{{ post.author }}</a>
                </div>
                {% include "users/partials/avatar.html" with user=post.author %}
            </div>                
        </div>

        <p>
            {% if post.content.blocks %}

                {% for block in post.content.blocks %}
                    {% include "blog/partials/block.html" with el=block.data %}
                {% endfor %}

            {% endif %}
        </p>
    </div>
    {% endif %}
{% endblock %}