{% extends "main/base.html" %}

{% block content %}

    <h1>User profile</h1>
    {% if render_user %}

        {% if render_user.is_authenticated %}
            <div class="flex-row" style="align-items: center;">
                {% if render_user.profile.avatar %}
                    <img src="{{render_user.profile.avatar.url}}" height="50px" width="50px" style="border-radius: 100%;">
                {% endif %}
                <div>
                    Username: {{ render_user.username }}
                </div>
            </div>

            {% if can_edit %}
                <a href="{% url 'users:edit' render_user.pk%}">edit</a> <br>
            {% endif %}

            {% if can_follow %}
                {% if is_followed %}
                    <a href="{% url 'users:toggle_follow' render_user.pk %}">
                        Unfollow
                    </a>
                {% else %}
                    <a href="{% url 'users:toggle_follow' render_user.pk %}">
                        Follow
                    </a>
                {% endif %}
                <br>
            {% endif %}

            {% if followers %}
                Followers:
                <ul>
                {% for follower in followers %}
                    <li><a href="{% url 'users:detail' follower.user.pk %}">
                        {{follower.user.username}}
                    </a></li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if following %}
                This user follows:
                <ul>
                {% for followee in following %}
                    <li><a href="{% url 'users:detail' followee.user.pk %}">
                        {{followee.user.username}}
                    </a></li>
                {% endfor %}
                </ul>
            {% endif %}


            Is staff: {{ render_user.is_staff }} <br>
            Date joined: {{render_user.date_joined}} <br>
        {% else %}
            <h2>You are not logged into your account!</h2>
        {% endif %}
    {% endif %}
    
{% endblock %}