{% extends "main/base.html" %}

{% block content %}
<div class="profile justify-center center gap-4">

    {% if render_user %}
        {% if render_user.is_authenticated %}
            
            <div class="flex flex-col lg:flex-row lg:justify-around items-center  gap-4" style="width: 100%;">
                
                <div class="flex flex-col-reverse lg:flex-row lg:flex-wrap-reverse items-center lg:items-end justify-center gap-4">
                    <div class="flex flex-col items-center gap-4">
                        {% include "users/partials/avatar.html" with user=render_user size=256 %}
                        {% if render_user.profile.bio %}
                            <div>Bio: {{render_user.profile.bio}}</div>
                        {% endif %}
                        {% if can_edit %}
                        <div>
                            <a href="{% url 'users:edit' render_user.pk%}">edit</a>
                        </div>
                        {% endif %}
                        {% if can_follow %}
                        <div>
                            <a href="{% url 'users:toggle_follow' render_user.pk %}">
                                {% if is_followed %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </a>
                        </div>
                        {% endif %}
                    </div>


                    <h1>{{render_user.username}}'s profile</h1>
                </div>

                <div>
                    <div>Is staff: {{ render_user.is_staff }}</div>
                    <div>Date joined: {{render_user.date_joined}}</div>
                </div>
            </div>

            <hr>

            <div class="flex justify-around" style="width: 100%;">
                
                {% if followers %}
                <div>
                    <h2>{{render_user.username}}'s Followers:</h2>

                    <div class="flex flex-col align-center">
                    {% for follower in followers %}
                        <div><a href="{% url 'users:detail' follower.user.pk %}">
                            {{follower.user.username}}
                        </a></div>
                    {% endfor %}
                    </div>

                </div>
                {% endif %}

                {% if following %}
                <div>
                    <h2>{{render_user.username}} is following:</h2>
                    <div class="flex flex-col align-center">
                    {% for followee in following %}
                        <div><a href="{% url 'users:detail' followee.user.pk %}">
                            {{followee.user.username}}
                        </a></div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

        {% else %}
            <h2>You are not logged into your account!</h2>
        {% endif %}
    {% endif %}
</div>
{% endblock %}