{% load static %} 

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'assets/styles/main.css' %}">

    <title>
        {% if title%}
            {{ title }}
        {% else %}
            Title
        {% endif %}
    </title>


  </head>
  <body>

    {% block content %}
        <h1>Base template</h1>
        <p>Base template</p>
    {% endblock %}
  </body>
</html>
