{% extends "blog/base.html" %}
{% load static %} 

{% block content %}
    {% if post %}
        <h1> Editing {{ post.title }} </h1>

        <div id="editorjs"></div>
        <form>
            {% csrf_token %}

            <input id="editorjs-save" type="submit" value="Save">
        </form>

        <script type="module" src="{% static 'blog/assets/scripts/editor.js' %}"></script>
        <link rel="stylesheet" href="{% static 'blog/assets/styles/editor.css' %}">
    {% endif %}
{% endblock %}