{% extends "main/base.html" %}

{% block head %}
    <meta name="robots" content="index">
{% endblock %}

{% block content %}
    {% if post %}
        <h1> {{ post.title }} </h1>
        <p>
            {{ post.author }}

            {% if can_edit %}
                <a href="{% url 'blog:edit' pk=post.id %}">Edit post</a>
                <a href="{% url 'blog:delete' pk=post.id %}">Delete post</a>
            {% endif %}
        </p>
        <p>
            {% if post.content.blocks %}

                {% for block in post.content.blocks %}
                    {% include "blog/partials/block.html" with el=block.data %}
                {% endfor %}

            {% endif %}
        </p>
    {% endif %}
{% endblock %}