@import "tailwindcss";
@source "../../backend/src";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-light: #d0d0d0;
  --color-main-dark: #242424;

  --color-post-dark: #313131;
  --color-post-light: #e6e6e6;
}


@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--text);
    background: var(--bg);
  }

  html.dark {
    --text: theme(--color-white);
    --bg: theme(--color-main-dark);
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  /* min-width: 320px; */
}

header {
  width: 100%;
  min-height: 10vh;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main {
  width: 65%;
  min-height: 80vh;
}

footer {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

hr {
  width: 100%;
}

input, textarea {
  @apply border-main-dark border-2;
  
}
.dark input, .dark textarea {
  @apply border-main-light border-2;
}

.post, .profile {
  @apply flex flex-col items-center bg-post-light dark:bg-post-dark p-2 mt-1 mb-1;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  @apply border-black border-2 rounded-3xl;

  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.dark .btn  {
  @apply border-white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
