@import "tailwindcss";
@source "../../backend/src";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-light: #d0d0d0;
  --color-main-dark: #242424;

  --color-post-dark: #313131;
  --color-post-light: #e6e6e6;
}


@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--text);
  }
  html.dark {
    --text: theme(--color-white);
  }

  body {
    background: var(--bg);
  }
  .dark body {
    --bg: theme(--color-main-dark);
  }

  content {
    min-height: 100dvh;
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

hr {
  width: 100%;
}

input, textarea {
  @apply border border-main-dark dark:border-main-light;
}

.post, .profile {
  @apply 
  p-[2%] my-1
  flex flex-col items-center 
  bg-post-light dark:bg-post-dark
  rounded;

  h1, h2, h3, h4, h5, h6 {
    @apply mb-[5%];
  }
}

.profile {
  @apply flex flex-col items-center;
}

.btn {
  @apply border-black border-2 rounded-3xl;

  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover,
.btn:focus-visible {
  border-color: #646cff;
  outline: 4px auto -webkit-focus-ring-color;
}
.dark {
  .btn {
    @apply border-white bg-[#1a1a1a];
  }

  .btn:hover,
  .btn:focus-visible {
    border-color: #646cff;
    outline: 4px auto -webkit-focus-ring-color;
  }
}