@import "tailwindcss";
@source "../../backend/src";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-light: #d0d0d0;
  --color-main-dark: #242424;

  --color-post-dark: #313131;
  --color-post-light: #e6e6e6;
}


@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  body {
    @apply bg-gray-50 dark:bg-main-dark text-black dark:text-white;
  }

  content {
    min-height: 100dvh;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold text-center;
  }
  h1 {
    @apply text-6xl mt-8 mb-4 ;
  }
  h2 {
    @apply text-5xl mt-6 mb-3;
  }
  h3 {
    @apply text-4xl mt-4 mb-2;
  }
  h4 {
    @apply text-3xl mt-4 mb-2;
  }
  h5 {
    @apply text-2xl mt-4 mb-2;
  }
  h6 {
    @apply text-xl mt-4 mb-2;
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

hr {
  width: 100%;
}

input, textarea {
  @apply border border-main-dark dark:border-main-light;
}

.post, .profile, .cont {
  @apply 
  p-[2%] my-1
  flex flex-col items-center 
  bg-post-light dark:bg-post-dark
  rounded;
}

.profile {
  @apply flex flex-col items-center;
}

.btn {
  @apply border-black border-2 rounded-3xl;

  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover,
.btn:focus-visible {
  border-color: #646cff;
  outline: 4px auto -webkit-focus-ring-color;
}
.dark {
  .btn {
    @apply border-white bg-[#1a1a1a];
  }

  .btn:hover,
  .btn:focus-visible {
    border-color: #646cff;
    outline: 4px auto -webkit-focus-ring-color;
  }
}