{% load static %}
{% load django_vite %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% vite_asset 'src/main.ts' %}

    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Title
        {% endif %}
    </title>

    {% block head %}
      <meta name="robots" content="noindex, nofollow">
    {% endblock %}

  </head>
  <body class="min-h-dvh h-fit flex flex-col place-items-center">

    {% include 'main/header.html' %}

    <main class="flex flex-col w-5/6 lg:w-4/6 min-h-[80dvh] my-[5dvh] gap-[2dvh]">
      {% block content %}
          <h1>Base template</h1>
          <p>Base template</p>
      {% endblock %}
    </main>

    {% include 'main/footer.html' %}

    {% block bodyend %}
    {% endblock %}
  </body>
</html>
