{% load static %}
{% load django_vite %}

<!doctype html>
<html lang="en" style="background-color: var(--bg); color: var(--text);">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Title
        {% endif %}
    </title>

    {% block head %}
      <meta name="robots" content="noindex, nofollow">
    {% endblock %}

    <script>
      const isDark = localStorage.getItem('theme') === 'dark';
        
        document.documentElement.classList.toggle(
          'dark',
          isDark
        );

        document.documentElement.style.setProperty('--bg', 
          isDark ? '#242424' : 'white'
        );
        document.documentElement.style.setProperty('--text', 
          isDark ? 'white' : 'black'
        );
    </script>

    {% vite_asset 'src/main.ts' %}

  </head>
  <body 
    class="min-h-dvh h-fit flex flex-col place-items-center" 
  >

    {% include 'main/header.html' %}

    <main class="flex flex-col w-5/6 lg:w-4/6 min-h-[80dvh] my-[5dvh] gap-[2dvh]">
      {% block content %}
          <h1>Base template</h1>
          <p>Base template</p>
      {% endblock %}
    </main>

    {% include 'main/footer.html' %}

    {% block bodyend %}
    {% endblock %}

    
  </body>
</html>
