{% load i18n %}

<footer class="w-full min-h-[10dvh] flex flex-wrap justify-around items-center bg-post-light dark:bg-black">

    <div class="flex gap-2 items-center justify-center">
        <a href="{% url 'index' %}">
            {% translate "About" %}
        </a>
        <a href="{% url 'blog:index' %}">
            {% translate "Blog" %}
        </a>

        <a href="https://github.com/serkosal/personal-blog" target="_blank" class="dark:invert">
            <picture>
                <source srcset="/static/main/GitHub_Black.svg" media="(min-width: 768px)">

                <img src="/static/main/GitHub_Invertocat_Black.svg" 
                    alt="GitHub" 
                    class="max-h-[5dvh] w-full object-cover">
            </picture>
        </a>
    </div>

    <div>
        <form method="post" action="{% url 'set_language' %}">
            {% csrf_token %}
            <label for="language-select">
                {% translate "Choose your language" %}
            </label>
            <select id="language-select" name="language">
                {% get_available_languages as LANGUAGES %}
                {% get_current_language as current_language %}

                {% for lang_code, lang_name in LANGUAGES %}
                    <option 
                        value="{{lang_code}}" 
                        {% if current_language == lang_code %}disabled{% endif %}
                    >
                        {{lang_name}}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">
                {% translate "Switch" %}
            </button>
        </form>
    </div>

    <div class="flex flex-col justify-between">
        <div>
            {% blocktranslate %}
                Icons provided by 
                <a href="https://www.flaticon.com">flaticon</a>.
            {% endblocktranslate %}
        </div>
        <div>
            {% url 'attributions' as attributions_url %}
            {% blocktranslate %}
                More details 
                <a href="{{attributions_url}}">here</a>
            {% endblocktranslate %}
        </div>
    </div>
    

    <div>2025-2026 &copy;</div>
</footer>