<footer class="w-full h-[10dvh] flex flex-wrap justify-around items-center bg-post-light dark:bg-black">

    <div class="flex gap-2 items-center self-stretch h-full">
        <a href="{% url 'index' %}">About</a>
        <a href="{% url 'blog:index' %}">Blog</a>

        <a href="https://github.com/serkosal/personal-blog" target="_blank" class="h-1/2">
            <img 
                src="/static/main/GitHub_Black.svg"
                class="dark:invert h-full hidden md:block"
                loading="lazy"
                alt="GitHub repository"
            >
            <img 
                src="/static/main/GitHub_Invertocat_Black.svg"
                class="dark:invert h-full block md:hidden"
                loading="lazy"
                alt="GitHub repository"
            >
        </a>
    </div>

    <div class="flex flex-col justify-between">
        <div>Icons provided by <a href="https://www.flaticon.com">flaticon</a>.</div>
        <div>More details <a href="{% url 'attributions' %}">here</a></div>
    </div>
    

    <div>2025-2026 &copy;</div>
</footer>