<header class="w-full min-h-[10dvh] px-[4dvw] py-4 flex content-center items-center justify-between ">

    <div>
        <button class="btn" id="theme-toggler">toggle light/dark</button>
    </div>

    <div class="md:flex hidden" style="gap: 1rem;">
        <a href="{% url 'blog:index' %}">Blog</a>
        <a href="{% url 'blog:index' %}?news">News</a>
        <a href="{% url 'blog:index' %}?tags=python">Python</a>
        <a href="{% url 'blog:index' %}?tags=js">JS</a>
        <a href="{% url 'blog:index' %}?tags=cpp">C++</a>
        <a href="{% url 'blog:index' %}?tags=web-dev">Web-dev</a>
    </div>

    <div class="flex gap-2 items-center">
        {% if user and user.is_authenticated %}
            <div>
                <a href="{% url 'users:profile'%}">{{ user.username }}</a>
            </div>

            <div>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"><a>Log Out</a></button>
                </form>
            </div>

            {% include "users/partials/avatar.html" with user=user %}

        {% else %}
            <div>
                <a href="{% url 'users:login' %}">Log in</a>
            </div>
            <div>
                <a href="{% url 'users:register' %}">Register</a>
            </div>

        {% endif %}
    </div>

</header>