<header>

    <div class="flex-row" style="gap: 1rem;">
        <a href="{% url 'blog:index' %}">Blog</a>
        <a href="{% url 'blog:index' %}?news">News</a>
        <a href="{% url 'blog:index' %}?tags=python">Python</a>
        <a href="{% url 'blog:index' %}?tags=js">JS</a>
        <a href="{% url 'blog:index' %}?tags=cpp">C++</a>
        <a href="{% url 'blog:index' %}?tags=web-dev">Web-dev</a>
    </div>

    {% if user and user.is_authenticated %}
    <div class="flex-row align-center">

        <div>
            <a href="{% url 'users:profile'%}">{{ user.username }}</a>
        </div>

        <div>
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="btn-reset" type="submit"><a>Log Out</a></button>
            </form>
        </div>

        {% include "users/partials/avatar.html" with user=user %}
    </div>

    {% else %}
    <div class="flex-row align-center">
        <div>
            <a href="{% url 'users:login' %}">Log in</a>
        </div>
        <div>
            <a href="{% url 'users:register' %}">Register</a>
        </div>
    </div>
    {% endif %}


</header>